body {
    margin:48pt;
    font-family: Sans-Serif;
    max-width: 1000px;
}
h1 {
    font-size: 16pt;
    margin:inherit;
    text-align:center;
    font-family: inherit;
    color: purple;
    font-variant: small-caps;
}

h2 {
    font-size: 14pt;
    margin:inherit;
    text-align:center;
    font-family: inherit;
    color: purple;
}

p, back {
  font-size: 16pt;
  margin: inherit;
  font-family: inherit;
  text-align:justify;
  color: #000; 
  text-align: inherit;
  text-decoration: none;
  line-height: 1.5;
  padding: 10px;
}

ul {
    text-align: left;
}

li {
    font-size: 16pt;
}

a {
    color: green;
}

a span{
    position:absolute;
    margin-top: 23px;
    margin-left:-35px;
    color: purple;
    background-color: white;
    padding:15px;
    border-radius:3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
    
}

span.portrait {
    background-color: #CCF4FF;
    color: inherit; 
}

span span {
    position:absolute;
    margin-top: 23px;
    margin-left:-35px;
    color: purple;
    background-color: white;
    padding:15px;
    border-radius:3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
}

mark {
    background-color: rgba(205, 255, 117, 0.5);
    
}

mark span{
    position:absolute;
    margin-top: 23px;
    margin-left:-35px;
    color: purple;
    background-color: white;
    padding:15px;
    border-radius:3px;
    box-shadow: 0 0 2px rgba(0,0,0,.5);
    transform:scale(0) rotate(-12deg);
    transition:all .25s;
    opacity:0;
    
}


a.quotetissé:hover span, a.quoteannoncé:hover span, a.note:hover span, a.topoi:hover span {
    transform:scale(1) rotate(0);
    opacity:1;
}

table {
    color: inherit;
    font-size: 16pt;
}
